.light {
  --gutter-background-color: #E9ECEF;
  --output-background-color: #F1F3F5;
}

.dark {
  --gutter-background-color: #1A1B1E;
  --output-background-color: #25262B;
}

* {
  font-family: Inter, sans-serif;
  font-size: small
}

body {
  margin: 0;
  height: 100vh;
}

.parent-box {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* font-family: "MonoLisa, Menlo, Monaco, "Courier New", monospace" !important;
  font-weight: normal !important;
  font-size: 14px !important; */
  /* font-feature-settings: "liga" 0, "calt" 0 !important; */
  /* line-height: 19px !important; */
  /* letter-spacing: 0px !important; */
}

.inputArea {
  width: 100%;
}

.gutter {
  background-color: var(--gutter-background-color);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  width: 5px;
}

.gutter.gutter-horizontal:hover {
  background-color: #4DABF7;
}

.outputArea {
  width: 100%;
  background-color: var(--output-background-color);;
}

.outputArea .react-json-view {
  background-color: var(--output-background-color) !important;
}