.light {
  --gutter-background-color: #e9ecef;
  --output-background-color: #f1f3f5;
}

.dark {
  --gutter-background-color: #1a1b1e;
  --output-background-color: #25262b;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 0.8rem;
  font-family: "Source Sans Pro, sans-serif";
}

.parent-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.parent-box > * {
  flex: 0 0 auto;
}

.parent-box > .container {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
}

/* .inputArea {
  background-color: var(--gutter-background-color);
} */

.gutter {
  background-color: var(--gutter-background-color);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
  width: 5px;
}

.gutter.gutter-horizontal:hover {
  background-color: #4dabf7;
}

.outputArea {
  background-color: var(--output-background-color);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.mantine-djvetm:disabled,
.mantine-djvetm[data-disabled] {
    pointer-events: auto;
}