.header {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 4px 8px;
    background-color: #dcdcdc;
}

.title {
    margin: 0px;
}

.controls {
    display: flex;
    column-gap: 4px;
}

.error {
    padding: 2px 4px;
    background-color: #ff000087;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.inputArea {
    width: 100%;
}

.outputArea {
    width: 100%;
}

.outputError {
    padding: 0;
    margin: 0;
    color: red;
}

.controls__button {
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #9a9999;
    border-radius: 4px;
    background-color: #fff;
    color: rgba(0,0,0,.88);
    box-shadow: 0 2px 0 #00000005;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    user-select: none;
}

.controls__button:hover {
    color: #4096ff;
    border-color: #4096ff;
}


